<?xml version="1.0" encoding="UTF-8"?>
<!-- 작성자 : 강혜란 210708-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.cabbage.mapper.AuctionMapper">
	
	<select id="selectAuctionList" parameterType="map" resultType="map">
	SELECT
		apr.apply_product_sales_delivery_id applyProductSalesDeliveryId
		,min_bid_price minBidPrice
		,registration_deadline registrationDeadline
		,quote quote
		,apr.create_date createDate
		,product_name productName
		,img_path imgPath
		,category_sub_id categorySubName
		,IF(bap.apply_product_sales_delivery_id IS NULL , apr.min_bid_price , bap.bid_price) price
	FROM 
		auction_product_registration apr
			LEFT JOIN apply_product_sales_delivery apsd ON apr.apply_product_sales_delivery_id= apsd.apply_product_sales_delivery_id
			LEFT JOIN apply_product_sales_delivery_img apsdi ON apsd.apply_product_sales_delivery_id= apsdi.apply_product_sales_delivery_id
			LEFT JOIN bidding_auction_product bap ON apr.apply_product_sales_delivery_id= bap.apply_product_sales_delivery_id
	GROUP BY apsdi.apply_product_sales_delivery_id
	ORDER BY bap.create_date, apsd.create_date, apsdi.img_path
	</select>
	
	<select id="selectAuctionForCount" resultType="int">
	SELECT
		count(*)
	FROM 
		auction_product_registration
	</select>
</mapper>