<?xml version="1.0" encoding="UTF-8"?>
<!-- 작성자 : 강혜란 210708-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdj.cabbage.mapper.CategoryMapper">
	<select id="selectCategoryMain" resultType="com.gdj.cabbage.vo.CategoryMain">
		SELECT
			category_main_id categoryMainId
			,category_main_name categoryMainName
		FROM
			category_main	
	</select>
	
	<select id="selectCategoryMiddle" resultType="com.gdj.cabbage.vo.CategoryMiddle" parameterType="int">
		SELECT
			category_middle_id categoryMiddleId
			,category_middle_name categoryMiddleName
		FROM
			category_middle
			WHERE category_main_id = #{categoryMainId}
	</select>
	
	<select id="selectCategorySub" resultType="com.gdj.cabbage.vo.CategorySub" parameterType="int">
		SELECT
			category_sub_id categorySubId
			,category_sub_name categorySubName
		FROM
			category_sub
			WHERE category_middle_id = #{categoryMiddleId}
	</select>
</mapper>