<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdj.cabbage.mapper.CategoryMapper">
	<select id="selectCategoryMain" resultType="com.gdj.cabbage.vo.CategoryMain">
		SELECT
			category_main_id categoryMainId
			,category_main_name categoryMainName
		FROM
			category_main	
	</select>
</mapper>