<?xml version="1.0" encoding="UTF-8"?>
<!-- 작성자 : 김태훈 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.cabbage.mapper.DirectTradeProductRegistrationMapper">
	
	<select id="selectDirectTradeProductList" parameterType="map" resultType="map">
		SELECT regi.direct_trade_product_registration_id directTradeProductRegistrationId,
			   regi.user_id userId,
			   regi.category_sub_id categorySubId,
			   regi.product_name productName,
		       FORMAT(regi.product_price, N'#,0') productPrice, <!-- 숫자 3자리마다 ,찍기 -->
		       regi.product_desc productDesc,
		       regi.location,
		       regi.product_state productState,
		       regi.create_date createDate,
		       img.img_name imgName,
		       cs.category_sub_name categorySubName
		  FROM direct_trade_product_registration regi, direct_trade_product_img img, category_sub cs
		 <where>
		 	regi.direct_trade_product_registration_id = img.direct_trade_product_registration_id AND<!-- inner join 조건 -->
		 	regi.category_sub_id = cs.category_sub_id
			<if test="searchWord != null and searchKind == 'title'">
				AND title LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	  GROUP BY regi.direct_trade_product_registration_id
	  ORDER BY regi.create_date DESC, img.img_name
	  LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<select id="selectDirectTradeProductTotal" parameterType="map" resultType="int">
		SELECT COUNT(*)
		  FROM direct_trade_product_registration
		  <where>
			<if test="searchWord != null and searchKind == 'title'">
				title LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>

	<select id="selectDirectTradeProductRand6" resultType="map">
		SELECT regi.direct_trade_product_registration_id directTradeProductRegistrationId,
			   regi.user_id userId,
			   regi.category_sub_id categorySubId,
			   regi.product_name productName,
		       FORMAT(regi.product_price, N'#,0') productPrice,
		       regi.product_desc productDesc,
		       regi.location,
		       regi.product_state productState,
		       regi.create_date createDate,
		       img.img_name imgName,
		       cs.category_sub_name categorySubName
		  FROM direct_trade_product_img img, direct_trade_product_registration regi, category_sub cs
		 WHERE
		 		regi.direct_trade_product_registration_id = img.direct_trade_product_registration_id AND
		 		regi.category_sub_id = cs.category_sub_id
	  GROUP BY regi.direct_trade_product_registration_id
	  ORDER BY RAND() , img.img_name
	  LIMIT 6
	</select>



	<select id="selectDirectTradeProductOneByKey" parameterType="int" resultType="map">
		SELECT direct_trade_product_registration_id directTradeProductRegistrationId,
			   user_id userId,
			   category_sub_id categorySubId,
		       product_name productName,
	           FORMAT(product_price, N'#,0') productPrice,
	           product_desc productDesc,
	           location,
	           product_state productState,
	           create_date createDate
	      FROM direct_trade_product_registration
	     WHERE direct_trade_product_registration_id = #{directTradeProductRegistrationId}
	</select>
	
	<select id="selectDirectTradeProductImgByKey" parameterType="int" resultType="String">
		SELECT img_name imgName
		  FROM direct_trade_product_img
		 WHERE direct_trade_product_registration_id = #{directTradeProductRegistrationId}
	</select>
	
	<insert id="insertDirectTradeProductRegistration" parameterType="com.gdj.cabbage.vo.DirectTradeProductRegistration">
		<selectKey resultType="int" keyProperty="directTradeProductRegistrationId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO direct_trade_product_registration (
					user_id,
					category_sub_id,
					product_name,
					product_price,
					product_desc,
					location,
					create_date)
			 VALUES	(#{userId},
					 #{categorySubId},
					 #{productName},
					 #{productPrice},
					 #{productDesc},
					 #{location},
					 NOW())
	</insert>
	
	<insert id="insertDirectTradeProductImg" parameterType="com.gdj.cabbage.vo.DirectTradeProductImg">
		INSERT INTO direct_trade_product_img VALUES(#{directTradeProductRegistrationId}, #{imgName}, #{imgType}, #{imgSize})
	</insert>
</mapper>


















