<?xml version="1.0" encoding="UTF-8"?>
<!-- 작성자 : 백영재 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.cabbage.mapper.ManagerMapper">

<!-- 오늘 회원등록 수 -->

<select id="selectTodayUsers"
		resultType="int">

	SELECT
		COUNT(*)
	FROM
		users
	WHERE
		date_format(create_date, '%Y-%m-%d')=date_format(NOW(), '%Y-%m-%d')

</select>

<!-- 오늘 직거래등록 수 -->

<select id="selectTodayDirect"
		resultType="int">

	SELECT
		COUNT(*)
	FROM
		direct_trade_product_registration
	WHERE
		date_format(create_date, '%Y-%m-%d')=date_format(NOW(), '%Y-%m-%d')

</select>

<!-- 오늘 중고등록 수 -->

<select id="selectTodayUsed"
		resultType="int">

	SELECT
		COUNT(*)
	FROM
		used_product_registration
	WHERE
		date_format(create_date, '%Y-%m-%d')=date_format(NOW(), '%Y-%m-%d')

</select>

<!-- 오늘 경매등록 수 -->

<select id="selectTodayAuction"
		resultType="int">

	SELECT
		COUNT(*)
	FROM
		auction_product_registration
	WHERE
		date_format(create_date, '%Y-%m-%d')=date_format(NOW(), '%Y-%m-%d')

</select>

<!-- index 총 회원 -->

<select id="selectTotalUsers"
		resultType="int">

	SELECT
		COUNT(*)
	FROM
		users

</select>

<!-- index 총 직거래 -->
	
<select id="selectTotalDirectProduct"
		resultType="int">

	SELECT
		COUNT(*)
	FROM
		direct_trade_product_registration

</select>

<!-- index 총 중고 -->
	
<select id="selectTotalUsedProduct"
		resultType="int">

	SELECT
		COUNT(*)
	FROM
		used_product_registration

</select>

<!-- index 총 경매 -->
	
<select id="selectTotalAuctionProduct"
		resultType="int">

	SELECT
		COUNT(*)
	FROM
		auction_product_registration

</select>


<!-- 배송 신청된 상품 목록 출력 -->

	<select id="selectDeliveryProductList"
			resultType="map">

		SELECT
			apsd.user_id userId,
			img_name imgName,
			cs.category_sub_name categorySubName,
			apsd.product_name productName,
			apsd.waybill_number waybillNo
			
		FROM
			apply_product_sales_delivery apsd
			LEFT JOIN category_sub cs ON cs.category_sub_id = apsd.category_sub_id
		  	LEFT JOIN apply_product_sales_delivery_img apsdi ON apsd.apply_product_sales_delivery_id = apsdi.apply_product_sales_delivery_id
			
		WHERE
			apsd.apply_product_sales_delivery_id
			
		NOT IN
			(SELECT
				apply_product_sales_delivery_id
			FROM
				product_confirmation_registration
			
			)
			
		GROUP BY
			apsd.product_name
		
		ORDER BY
			apsd.create_date DESC
			
	</select>

<!-- 관리자 상세보기 -->

	<select id="selectManagerInfo"
			resultType="java.util.Map"
			parameterType="Integer">
	
		SELECT
			manager_id managerId,
			manager_name managerName,
			manager_nickname managerNickname,
			manager_address managerAddress,
			manager_phone_number managerPhoneNumber,
			manager_level managerLevel,
			create_date createDate
		FROM
			manager
		<where>
			manager_id=#{managerId}
		</where>
	
	</select>

<!-- 전체 회원 목록 출력 및 회원 검색 -->
	<select id="selectAllUsersByManager"
			resultType="java.util.Map"
			parameterType="com.gdj.cabbage.vo.Page">
	
		SELECT
			u.username username, 
			u.email email, 
			u.nickname nickname, 
			u.mobile mobile, 
			u.create_date createDate, 
			IFNULL(s.sns_type,'') snsType
		FROM 
			users u LEFT JOIN sns_info s ON u.user_id=s.user_id
		<where>
			<if test="searchWord != null">
				username LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		
		ORDER BY
			create_date DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
	
	</select>
	
	<select id="selectAllUsersTotal"
			resultType = "int">
	
		SELECT
			COUNT(*)
		FROM
			users
			
		<where>
			<if test="searchWord != null">
				board_title LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		
	</select>

<!-- 관리자 목록 출력 -->
	<select id="selectManagerList"
			resultType="com.gdj.cabbage.vo.Manager"
			parameterType="com.gdj.cabbage.vo.Page">
			
		SELECT
			manager_id managerId,
			manager_name managerName,
			manager_nickname managerNickname,
			manager_address managerAddress,
			manager_phone_number managerPhoneNumber,
			manager_level managerLevel,
			create_date createDate
		FROM
			manager
		
		ORDER BY
			create_date DESC
		LIMIT
			#{beginRow}, #{rowPerPage}
		
	</select>

<!-- 관리자 목록 페이징 토탈 -->
	<select id="selectManagerTotal"
			resultType = "int">
	
		SELECT
			COUNT(*)
		FROM
			manager
		
	</select>

<!-- 관리자 수정 -->

	<update id="updateManager"
			parameterType="com.gdj.cabbage.vo.Manager">
	
		UPDATE
			manager
		SET
			manager_nickname = #{managerNickname},
			manager_address = #{managerAddress},
			manager_phone_number = #{managerPhoneNumber},
			manager_level = #{managerLevel}
		WHERE
			manager_id = #{managerId}
	</update>
	
<!-- 관리자 세션 -->
	<select id="managerLoginSession"
			resultType="java.util.Map"
			parameterType="com.gdj.cabbage.vo.Manager">
		SELECT
			manager_id managerId,
			manager_name managerName,
			manager_nickname managerNickname,
			manager_level managerLevel
		FROM
			manager
		<where>
			manager_id=#{managerId} AND manager_password=#{managerPassword}
		</where>
	</select>

<!-- 관리자 추가 -->
	<insert id="insertManager"
			parameterType="java.util.Map">
	
		INSERT INTO
		
			manager(
				manager_id,
				manager_password,
				manager_name,
				manager_nickname,
				manager_address,
				manager_phone_number,
				manager_level,
				create_date
				
			) VALUES (
				#{managerId},
				#{managerPassword},
				#{managerName},
				#{managerNickname},
				#{managerAddress},
				#{managerPhoneNumber},
				DEFAULT(manager_level),
				NOW()
			
			)
	
	</insert>

</mapper>