<?xml version="1.0" encoding="UTF-8"?>
<!-- 작성자: 김희진 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdj.cabbage.mapper.UsedTradeMapper">

<!-- 중고상품 목록  -->
<select id="selectUsedProductList" parameterType="java.util.Map" resultType="java.util.Map">
	SELECT 
		img.img_name imgName,
		pd.product_name productName,
		pr.product_price productPrice,
		cate.category_sub_name categorySubName
	FROM 
		used_product_registration pr
	LEFT JOIN apply_product_sales_delivery pd ON pr.apply_product_sales_delivery_id = pd.apply_product_sales_delivery_id
	LEFT JOIN apply_product_sales_delivery_img img ON pd.apply_product_sales_delivery_id = img.apply_product_sales_delivery_id
	LEFT JOIN category_sub cate ON pd.category_sub_id = cate.category_sub_id
	<where>
		<if test="searchWord != null">
			AND pd.productName LIKE CONCAT ('%',#{searchWord},'%')
		</if>
	</where>
	GROUP BY productName 
	ORDER BY pr.create_date DESC
	LIMIT #{beginRow}, #{rowPerPage}
</select>

<!-- 중고상품 total -->
<select id="selectUsedProductTotal" parameterType="java.util.Map" resultType="Integer" >
	SELECT count(*)
	FROM 
		used_product_registration
	<where>
		<if test="searchWord != null">
			product_name LIKE CONCAT ('%',#{searchWord},'%')
		</if>
	</where>
</select>

</mapper>